<html>
    <head>
        <title>Marlon</title>
        <!-- CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <style>
            .bd-placeholder-img {
              font-size: 1.125rem;
              text-anchor: middle;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
            }
      
            @media (min-width: 768px) {
              .bd-placeholder-img-lg {
                font-size: 3.5rem;
              }
            }
          </style>
          <link rel="stylesheet" href="{{ url_for('static', filename='css/cover.css') }}">
    </head>
    <body class="text-center">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto">
                <div class="inner">
                  <!-- <h3 class="masthead-brand">Marlon</h3> -->
                  <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="/">Home</a>
                    <a class="nav-link" href="{{ url_for('static', filename='files/marlon_quadros.pdf') }}" target="_blank">Currículo</a>
                    <a class="nav-link" href="https://www.linkedin.com/in/marlonbaptista/" target="_blank">Linkedin</a>
                    <a class="nav-link" href="https://github.com/nolram" target="_blank">Github</a>
                    <a class="nav-link" href="https://bitbucket.org/nolram/" target="_blank">Bitbucket</a>
                  </nav>
                </div>
              </header>
            <main role="main" class="inner cover">
                <h1 class="cover-heading">Marlon Baptista de Quadros</h1>
                <p class="lead">DevOps Engineer na SouthSystem</p>
                <p class="lead">
                  <a href="{{ url_for('static', filename='files/marlon_quadros.pdf') }}" class="btn btn-lg btn-secondary" target="_blank">Currículo</a>
                </p>
              </main>
              <footer class="mastfoot mt-auto">
                <div class="inner">
                  <p>Made with <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>.</p>
                </div>
              </footer>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    </body>
</html>